
<div class="wrapper">
  <header class="page-header">
    <!-- nav -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/">Home</a>
            <a class="nav-item nav-link" (click)="logout()">Logout</a>
        </div>
    </nav>

  </header>
  <main class="page-main">
    <span style="color:red;" *ngIf="message">{{message}}</span>

    <input #fileUpload id="fileInput" name="file" type="file" ([value])="fName" (change)="preview($event)">
    

    <!-- content here -->
    <vg-player *ngIf="imgURL && imgURLReady" (onPlayerReady)="onPlayerReady($event)">

      <vg-buffering></vg-buffering>
      <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-playback-button></vg-playback-button>

          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

          <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>

          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

          <vg-mute></vg-mute>
          <vg-volume></vg-volume>

          <vg-fullscreen></vg-fullscreen>
      </vg-controls>

      <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls type="video/mp4"
  webkit-playsinline
  playsinline
  autoplay>
          <source [src]="imgURL" type="video/mp4" >
      </video>
  </vg-player>
  </main>
  <footer class="page-footer">
    <!-- content here -->
  </footer>
</div>


